.banner {
    margin-bottom: 120px;
    @media(min-width: $sm) {
        margin-bottom: 160px;
    }
    @media(min-width: $fhd) {
        margin-bottom: 260px;
    }

    &__slide {
        display: block;
        @media(min-width: $md) {
            display: flex;
        }

        img,
        picture {
            display: block;
        }

        picture {
            @media(min-width: $md) {
                width: 50%;
            }
        }

        img {
            width: 100%;
        }
    }

    .swiper-pagination-bullet {
        background-color: transparent;
        border: 1px solid var(--black);
        height: 10px;
        opacity: 1;
        width: 10px;

        &.swiper-pagination-bullet-active {
            background-color: var(--black);
        }
    }
}