.order-make {
    @media(min-width: $hd) {
        display: flex;
        flex-wrap: wrap;
        gap: 0 40px;
        justify-content: space-between;
    }

    &__result {
        margin-bottom: 40px;
        @media(min-width: $hd) {
            border-left: 2px solid rgba(0,0,0,0.2);
            max-width: 570px;
            margin-bottom: 0;
            padding-left: 40px;
            order: 3;
            width: calc(100% - 59% - 40px);
        }
        @media(min-width: $fhd) {
            padding-left: 80px;
        }
    }

    &__goods-toggler {
        @include button-reset;
        @include active-area;
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        justify-content: space-between;
        margin-bottom: 40px;
        position: relative;
        width: 100%;
        @media(min-width: $hd) {
            display: none;
        }

        &.is-active {
            svg {
                transform: rotate(-180deg);
            }
        }

        svg {
            fill: var(--black);
            height: 24px;
            width: 24px;
        }
    }

    &__goods {
        display: none;
        padding-bottom: 40px;
        @media(max-width: $hd - 1px) {
            margin-left: calc(0.01px - var(--container_padding));
            margin-right: calc(0.01px - var(--container_padding));
        }
        @media(min-width: $hd) {
            display: block;
        }
    }

    &__coupon {
        margin-bottom: 20px;
        @media(min-width: $sm) {
            margin-bottom: 40px;
        }
    }

    &__coupon-container {
        position: relative;
        z-index: auto;
    }

    &__coupon-delete {
        @include button-reset;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 50px;
        left: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        z-index: 1;
        @media(min-width: $sm) {
            height: 65px;
            width: 65px;
        }

        svg {
            fill: var(--black);
            height: 16px;
            width: 16px;
        }
    }

    &__discount,
    &__summ {
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        text-transform: uppercase;
        @media(min-width: $sm) {
            font-size: 25px;
        }
    }

    &__discount {
        margin-bottom: 15px;
        @media(min-width: $sm) {
            margin-bottom: 20px;
        }
    }

    &__summ {
        margin-bottom: 0;
    }

    &__summ-price {
        font-weight: 600;
    }

    &__menu {
        margin-bottom: 25px;
        @media(min-width: $xs) {
            margin-bottom: 60px;
        }
        @media(min-width: $hd) {
            order: 1;
            width: 100%;
        }
    }

    &__menu-list {
        @include list-reset;
        display: flex;
        gap: 20px;
        font-size: 18px;
        font-weight: 600;
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
        padding-left: var(--container_padding);
        padding-right: var(--container_padding);
        overflow-x: auto;
        text-transform: uppercase;
        -ms-overflow-style: none;
        scrollbar-width: none;
        @media(min-width: $sm) {
            font-size: 35px;
        }
        @media(min-width: $fhd) {
            font-size: 42px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__menu-item {
        flex-grow: 1;
    }

    &__menu-button {
        @include button-reset;
        border-bottom: 2px solid rgba(0,0,0,0.2);
        color: rgba(0,0,0,0.5);
        display: block;
        padding-bottom: 8px;
        text-align: center;
        text-decoration: none;
        transition: color 0.3s;
        width: 100%;

        &.is-active {
            color: var(--black);
            border-bottom-color: var(--black);
        }
        @include hover {
            color: var(--black);
        }
    }

    &__tabs {
        @media(min-width: $hd) {
            order: 2;
            width: 58%;
        }
    }

    &__auth,
    &__delivery,
    &__user-info {
        .checkbox,
        .form-group {
            margin-bottom: 30px;
            @media(min-width: $fhd) {
                margin-bottom: 40px;
            }
        }
    }

    &__auth {
        margin-bottom: 40px;
        @media(min-width: $fhd) {
            margin-bottom: 80px;
        }
    }

    &__reg-note {
        font-size: 16px;
        margin-bottom: 40px;
        @media(min-width: $fhd) {
            font-size: 25px;
        }
    }

    &__reg-link {
        margin-bottom: 40px;
    }

    &__reg-note_2 {
        color: rgba(0,0,0,0.7);
        font-size: 12px;
        margin-bottom: 0;
        @media(min-width: $sm) {
            font-size: 15px;
        }
    }

    &__delivery-list {
        margin-bottom: 40px;
    }
}

.om-goods {
    align-items: start;
    border-bottom: 1px solid var(--black);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    @media(max-width: $hd - 1px) {
        padding-left: var(--container_padding);
        padding-right: var(--container_padding);
    }
    @media(min-width: $xs) {
        grid-template-columns: 230px auto;
    }
    @media(min-width: $md) {
        gap: 30px;
    }
    @media(min-width: $hd) {
        border: none;
        grid-template-columns: 190px auto;
        padding: 0;
    }

    &:first-child {
        border-top: 1px solid var(--black);
        @media(min-width: $hd) {
            border: none;
        }
    }

    &:not(:last-child) {
        @media(min-width: $hd) {
            margin-bottom: 40px;
        }
    }

    &__image {
        grid-row: span 3;
        overflow: hidden;

        img {
            display: block;
            transition: transform 0.3s;
            transform: scale(1);
            width: 100%;
        }
        @include hover {
            img {
                transform: scale(1.02);
            }
        }
    }

    &__info {}

    &__title {
        font-weight: 500;
        margin-bottom: 10px;
        @media(min-width: $sm) {
            font-size: 16px;
        }

        a {
            text-decoration: none;
            @include hover {
                text-decoration: underline;
            }
        }
    }

    &__prop {
        font-size: 12px;
        margin-bottom: 0;
        @media(min-width: $sm) {
            font-size: 14px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__price-block {
        align-items: baseline;
        display: flex;
        font-weight: 500;
        flex-wrap: wrap;
        gap: 10px;
        @media(min-width: $sm) {
            font-size: 14px;
        }
    }

    &__old-price {
        color: rgba(0,0,0,0.5);
        font-size: 70%;
    }
}

.delivery {
    align-items: center;
    border: 1px solid rgba(0,0,0,0.3);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 25px;
    position: relative;
    z-index: auto;
    @media(min-width: $sm) {
        display: grid;
        grid-template-columns: 170px auto;
        gap: 20px 40px;
        justify-content: start;
        padding: 40px;
    }
    @media(min-width: $md) {
        display: flex;
        flex-wrap: nowrap;
    }
    @media(min-width: $hd) and (max-width: $lg) {
        gap: 20px;
        padding: 20px;
    }

    &:not(:last-child) {
        margin-bottom: 25px;
    }

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .delivery__checkbox::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.6,23.2H4.4c-1.9,0-3.5-1.5-3.5-3.4V4.2c0-1.9,1.6-3.4,3.5-3.4h13.8c0.3,0,0.5,0.2,0.5,0.5s-0.2,0.5-0.5,0.5H4.4C3,1.8,1.9,2.9,1.9,4.2v15.5c0,1.3,1.1,2.4,2.5,2.4h15.3c1.4,0,2.5-1.1,2.5-2.4v-8.3c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v8.3C23.1,21.6,21.6,23.2,19.6,23.2z'/%3E%3Cpath d='M11.6,15.9L11.6,15.9c-0.1,0-0.3-0.1-0.4-0.2l-5-5.2C6,10.3,6,10,6.2,9.8c0.2-0.2,0.5-0.2,0.7,0l4.7,4.8L22.5,3.4c0.2-0.2,0.5-0.2,0.7,0c0.2,0.2,0.2,0.5,0,0.7L12,15.7C11.9,15.8,11.8,15.9,11.6,15.9z'/%3E%3C/svg%3E");
        }
    }

    &__image {
        display: block;
        width: 90px;
        @media(min-width: $sm) {
            grid-row: span 2;
            width: 170px;
        }
        @media(min-width: $md) {
            order: 1;
        }
        @media(min-width: $hd) and (max-width: $fhd) {
            min-width: 100px;
            width: 100px;
        }

        img {
            border-radius: 50%;
            display: block;
            width: 100%;
        }
    }

    &__info {
        display: block;
        width: 100%;
        @media(min-width: $sm) {
            grid-column: 2;
            grid-row: 1;
        }
        @media(min-width: $sm) {
            order: 2;
            width: auto;
        }
    }

    &__title {
        display: block;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
        @media(min-width: $sm) {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }

    &__text {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
        @media(min-width: $sm) {
            margin-bottom: 5px;
            max-width: 350px;
        }
    }

    &__price {
        display: block;
        font-size: 16px;
        font-weight: 600;
    }

    &__checkbox {
        display: block;
        padding-left: 40px;
        position: relative;
        z-index: auto;
        @media(max-width: $sm - 1px) {
            max-width: calc(100% - 90px - 20px);
        }
        @media(min-width: $sm) {
            font-size: 16px;
            grid-column: 2;
            grid-row: 2;
        }
        @media(min-width: $md) {
            margin-left: auto;
            order: 3;
            min-width: 190px;
            width: 190px;
        }

        &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.6,23.1H4.4c-1.9,0-3.5-1.6-3.5-3.5V4.4c0-1.9,1.6-3.5,3.5-3.5h15.3c1.9,0,3.5,1.6,3.5,3.5v15.3C23.1,21.6,21.6,23.1,19.6,23.1z M4.4,1.9C3,1.9,1.9,3,1.9,4.4v15.3c0,1.4,1.1,2.5,2.5,2.5h15.3c1.4,0,2.5-1.1,2.5-2.5V4.4c0-1.4-1.1-2.5-2.5-2.5H4.4z'/%3E%3C/svg%3E%0A");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            content: '';
            display: block;
            height: 24px;
            left: 0;
            min-width: 24px;
            margin-right: 16px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            z-index: 1;
            @media(min-width: $fhd) {
                height: 28px;
                min-width: 28px;
                width: 28px;
            }
        }
    }
}