<section class="banner_2">
    <a class="banner_2__item" href="#">
        <img src="images/content/banner/img_3.jpg" srcset="images/content/banner/img_3@2x.jpg 2x" alt="">
        <span class="banner_2__item-title">ЗИМА</span>
    </a>
    <a class="banner_2__item" href="#">
        <img src="images/content/banner/img_4.jpg" srcset="images/content/banner/img_4@2x.jpg 2x" alt="">
        <span class="banner_2__item-title">НОСКИ</span>
    </a>
    <a class="banner_2__item" href="#">
        <img src="images/content/banner/img_5.jpg" srcset="images/content/banner/img_5@2x.jpg 2x" alt="">
        <span class="banner_2__item-title">ЧТО-ТО</span>
    </a>
    <a class="banner_2__item" href="#">
        <img src="images/content/banner/img_6.jpg" srcset="images/content/banner/img_6@2x.jpg 2x" alt="">
        <span class="banner_2__item-title">ШТУКИ</span>
    </a>
</section>