<section class="banner">
    <div class="js-banner swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide is-dark">
                <a class="banner__slide" href="#">
                    <picture>
                        <source srcset="images/content/banner/img_1.jpg, images/content/banner/img_1@2x.jpg 2x" media="(min-width: 1200px)">
                        <img src="images/content/banner/img_1_mob.jpg" srcset="images/content/banner/img_1_mob@2x.jpg 2x" alt="">
                    </picture>
                    <picture>
                        <source srcset="images/content/banner/img_2.jpg, images/content/banner/img_2@2x.jpg 2x" media="(min-width: 1200px)">
                        <img src="images/content/banner/img_2_mob.jpg" srcset="images/content/banner/img_2_mob@2x.jpg 2x" alt="">
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <div class="banner__slide">
                    <picture>
                        <source srcset="images/content/banner/img_1.jpg, images/content/banner/img_1@2x.jpg 2x" media="(min-width: 1200px)">
                        <img src="images/content/banner/img_1_mob.jpg" srcset="images/content/banner/img_1_mob@2x.jpg 2x" alt="">
                    </picture>
                    <picture>
                        <source srcset="images/content/banner/img_2.jpg, images/content/banner/img_2@2x.jpg 2x" media="(min-width: 1200px)">
                        <img src="images/content/banner/img_2_mob.jpg" srcset="images/content/banner/img_2_mob@2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>