<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav is-added" type="button" title="Убрать из избранного">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>

<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav" type="button" title="Добавить в избранное">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>

<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav" type="button" title="Добавить в избранное">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>

<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav" type="button" title="Добавить в избранное">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>

<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav" type="button" title="Добавить в избранное">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>

<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav" type="button" title="Добавить в избранное">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>

<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav" type="button" title="Добавить в избранное">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>

<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav" type="button" title="Добавить в избранное">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>

<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav" type="button" title="Добавить в избранное">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>

<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav" type="button" title="Добавить в избранное">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>

<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav" type="button" title="Добавить в избранное">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>

<div class="product">
    <span class="product__status">NEW</span>

    <button class="product__fav" type="button" title="Добавить в избранное">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#favorite_stroke" />
        </svg>
    </button>

    <a class="product__link" href="#">
        <span class="product__image">
            <img src="images/content/img_7.jpg" srcset="images/content/img_7@2x.jpg" alt="">
            <span class="product__sizes">
                <span class="product__sizes-title">SIZE</span>
                <span class="product__sizes-list">
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
                    <span>xxl</span>
                </span>
            </span>
        </span>
        <span class="product__title">Футболка Anteater Tee</span>
        <span class="product__price-block">
            <span class="product__price">1799 rub</span>
            <span class="product__price-old"><s>1799</s> rub</span>
        </span>
    </a>
</div>