<div class="collapsed-text">
    <h2>ЗАГОЛОВОК БЛОКА СО СВЁРНУТЫМ ТЕКСТОМ</h2>

    <div class="collapsed-text__text is-collapsed">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore aspernatur perspiciatis fuga cupiditate nesciunt, sed delectus vero dicta, eius vel id, porro sunt placeat dolores tenetur modi recusandae, facere in!</p>

        <p>Esse quia quibusdam doloremque odio, quas assumenda velit ducimus dolores illo. Recusandae earum quis eius quod eligendi exercitationem quaerat autem, iure asperiores.</p>

        <p>Fuga sapiente consequatur dicta voluptatem magnam labore, a pariatur eligendi corrupti alias autem similique eos consectetur nihil, consequuntur excepturi at voluptates molestias.</p>

        <p>Aliquid non repellendus corporis totam nostrum, hic, laborum quod dolore, repellat et in laboriosam! Rerum voluptatem commodi at, nobis illum esse nihil.</p>
    </div>

    <button class="js-collapsed-text collapsed-text__toggler" type="button">Открыть полное описание</button>
</div>