<button class="js-filter-toggler filter-toggler" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#filter" />
    </svg>
    Фильтр
</button>

<div class="filter">
    <div class="filter__inner">
        <ul class="filter__list filter__list--mod_4">
            <li class="filter__list-item">
                <a class="filter-link" href="#">Брюки</a>
            </li>
            <li class="filter__list-item">
                <a class="filter-link" href="#">Куртки</a>
            </li>
            <li class="filter__list-item">
                <a class="filter-link" href="#">Лонгсливы</a>
            </li>
            <li class="filter__list-item">
                <a class="filter-link" href="#">Толстовки</a>
            </li>
            <li class="filter__list-item">
                <a class="filter-link" href="#">Футболки</a>
            </li>
            <li class="filter__list-item">
                <a class="filter-link" href="#">Головные уборы</a>
            </li>
            <li class="filter__list-item">
                <a class="filter-link" href="#">Кошельки</a>
            </li>
            <li class="filter__list-item">
                <a class="filter-link" href="#">Носки</a>
            </li>
            <li class="filter__list-item">
                <a class="filter-link" href="#">Ремни</a>
            </li>
            <li class="filter__list-item">
                <a class="filter-link" href="#">Сувениры</a>
            </li>
            <li class="filter__list-item">
                <a class="filter-link" href="#">Сумки</a>
            </li>
            <li class="filter__list-item">
                <a class="filter-link" href="#">Трусы</a>
            </li>
        </ul>

        <div class="filter__columns-wrapper">
            <form class="filter__columns">
                <div class="filter__section">
                    <p class="filter__title">
                        Сортировка
                        <button class="js-filter-section-toggler filter__toggler" type="button" title="Открыть">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_down" />
                            </svg>
                        </button>
                    </p>

                    <div class="filter__section-inner">
                        <ul class="filter__list filter__list--mod_1">
                            <li class="filter__list-item">
                                <a class="filter-link filter-link--mod_1 is-active" href="#">По новинкам</a>
                            </li>
                            <li class="filter__list-item">
                                <a class="filter-link filter-link--mod_1" href="#">По возрастанию цены</a>
                            </li>
                            <li class="filter__list-item">
                                <a class="filter-link filter-link--mod_1" href="#">По убыванию цены</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filter__section">
                    <p class="filter__title">
                        Цена
                        <button class="js-filter-section-toggler filter__toggler" type="button" title="Открыть">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_down" />
                            </svg>
                        </button>
                    </p>

                    <div class="filter__section-inner">
                        <div class="filter__price-block">
                            <label class="filter__price">
                                <span class="filter__price-label">от</span>
                                <input class="filter__price-input" type="text" placeholder="299 rub">
                            </label>

                            <label class="filter__price">
                                <span class="filter__price-label">до</span>
                                <input class="filter__price-input" type="text" placeholder="36900 rub">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="filter__section">
                    <p class="filter__title">
                        Размер
                        <button class="js-filter-section-toggler filter__toggler" type="button" title="Открыть">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_down" />
                            </svg>
                        </button>
                    </p>

                    <div class="filter__section-inner">
                        <ul class="filter__list filter__list--mod_3">
                            <li class="filter__list-item">
                                <label class="filter-checkbox filter-checkbox--mod_1">
                                    <input type="checkbox" disabled>
                                    <span class="filter-checkbox__text">XS</span>
                                </label>
                            </li>
                            <li class="filter__list-item">
                                <label class="filter-checkbox filter-checkbox--mod_1">
                                    <input type="checkbox">
                                    <span class="filter-checkbox__text">S</span>
                                </label>
                            </li>
                            <li class="filter__list-item">
                                <label class="filter-checkbox filter-checkbox--mod_1">
                                    <input type="checkbox" disabled>
                                    <span class="filter-checkbox__text">M</span>
                                </label>
                            </li>
                            <li class="filter__list-item">
                                <label class="filter-checkbox filter-checkbox--mod_1">
                                    <input type="checkbox">
                                    <span class="filter-checkbox__text">L</span>
                                </label>
                            </li>
                            <li class="filter__list-item">
                                <label class="filter-checkbox filter-checkbox--mod_1">
                                    <input type="checkbox">
                                    <span class="filter-checkbox__text">XL</span>
                                </label>
                            </li>
                            <li class="filter__list-item">
                                <label class="filter-checkbox filter-checkbox--mod_1">
                                    <input type="checkbox">
                                    <span class="filter-checkbox__text">XXL</span>
                                </label>
                            </li>
                            <li class="filter__list-item">
                                <label class="filter-checkbox filter-checkbox--mod_1">
                                    <input type="checkbox">
                                    <span class="filter-checkbox__text">30</span>
                                </label>
                            </li>
                            <li class="filter__list-item">
                                <label class="filter-checkbox filter-checkbox--mod_1">
                                    <input type="checkbox">
                                    <span class="filter-checkbox__text">32</span>
                                </label>
                            </li>
                            <li class="filter__list-item">
                                <label class="filter-checkbox filter-checkbox--mod_1">
                                    <input type="checkbox">
                                    <span class="filter-checkbox__text">34</span>
                                </label>
                            </li>
                            <li class="filter__list-item">
                                <label class="filter-checkbox filter-checkbox--mod_1">
                                    <input type="checkbox">
                                    <span class="filter-checkbox__text">36</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filter__section">
                    <p class="filter__title">
                        Бренд
                        <button class="js-filter-section-toggler filter__toggler" type="button" title="Открыть">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_down" />
                            </svg>
                        </button>
                    </p>

                    <div class="filter__section-inner">
                        <ul class="filter__list filter__list--mod_2">
                            <li class="filter__list-item">
                                <label class="filter-checkbox">
                                    <input type="checkbox" checked disabled>
                                    <span class="filter-checkbox__text">Anteater</span>
                                </label>
                            </li>
                            <li class="filter__list-item">
                                <label class="filter-checkbox">
                                    <input type="checkbox">
                                    <span class="filter-checkbox__text">Nike</span>
                                </label>
                            </li>
                            <li class="filter__list-item">
                                <label class="filter-checkbox">
                                    <input type="checkbox">
                                    <span class="filter-checkbox__text">NTTR</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filter__reset-block">
                    <button class="filter__reset" type="button">Сбросить фильтры</button>
                </div>
            </form>
        </div>
    </div>
</div>