<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__logo">
            <img src="images/logo-cream.svg" alt="CREAM магазин уличной одежды">
            <!--<span class="footer__logo-text">магазин уличной одежды</span>-->
        </div>

        <div class="footer__menu">
            <ul class="footer-menu">
                <li class="footer-menu__title">Магазин</li>
                <li class="footer-menu__item"><a href="#">Одежда</a></li>
                <li class="footer-menu__item"><a href="#">Аксессуары</a></li>
                <li class="footer-menu__item"><a href="#">Новинки</a></li>
                <li class="footer-menu__item"><a href="#">Распродажа</a></li>
            </ul>

            <ul class="footer-menu">
                <li class="footer-menu__title">Компания</li>
                <li class="footer-menu__item"><a href="about.html">О нас</a></li>
                <li class="footer-menu__item"><a href="contacts.html">Контакты</a></li>
                <li class="footer-menu__item"><a href="offer.html">Оферта</a></li>
                <li class="footer-menu__item"><a href="policy.html">Политика конфиденциальности</a></li>
            </ul>

            <ul class="footer-menu">
                <li class="footer-menu__title">Покупателям</li>
                <li class="footer-menu__item"><a href="#">Возврат</a></li>
                <li class="footer-menu__item"><a href="#">Оплата и доставка</a></li>
                <li class="footer-menu__item"><a href="#">Вопросы</a></li>
                <li class="footer-menu__item"><a href="#">Размерная сетка</a></li>
            </ul>

            <ul class="footer-menu">
                <li class="footer-menu__title">Контакты</li>
                <li class="footer-menu__item"><a href="tel:+78126010710">8 (812) 601-0710</a></li>
                <li class="footer-menu__item"><a href="mailto:creamshop@mail.ru">creamshop@mail.ru</a></li>
                <li class="footer-menu__item">
                    <a href="https://vk.com/creamshop" target="_blank">
                        <img src="images/icons/vk.svg"></a>
                    <a href="https://t.me/creamshop_ru" target="_blank">
                        <img src="images/icons/tlg.svg">
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__bottom">
            <p>
                <img src="images/icons/cards.svg"><br>
                © 2008-2024 CREAMSHOP. Все права защищены.
            </p>
        </div>
    </div>
</footer>