<header class="header">
    <div class="header__inner container">
        <button class="js-main-menu-opener header__button header__button--menu-opener" type="button" title="Меню">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#burger" />
            </svg>
        </button>

        <div class="main-menu">
            <div class="main-menu__inner">
                <div class="main-menu__top">
                    <div class="main-menu__logo"><img src="images/logo.svg" alt="CREAM магазин уличной одежды"></div>
                    <button class="js-main-menu-closer header__button main-menu__closer" type="button" title="Закрыть меню">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#close" />
                        </svg>
                    </button>
                </div>

                <nav class="main-menu__nav">
                    <a class="main-menu__nav-link" href="#">Новинки</a>
                    <a class="main-menu__nav-link" href="#">Одежда</a>
                    <a class="main-menu__nav-link" href="#">Аксессуары</a>
                    <a class="main-menu__nav-link" href="#">Распродажа</a>
                    <a class="main-menu__nav-link" href="#">О нас</a>
                    <a class="main-menu__nav-link" href="#">Контакты</a>
                </nav>

                <a class="main-menu__phone" href="tel:+78126010710">8 (812) 601-0710</a>

                <a class="main-menu__personal button" href="personal.html">Войти в личный кабинет</a>
            </div>
        </div>

        <div class="header-search">
            <button class="js-search-opener header__button header-search__opener" type="button" title="Поиск">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#search" />
                </svg>
            </button>

            <div class="header-search__form-block">
                <form class="header-search__form" action="">
                    <input class="header-search__input" type="text" value="" name="q" placeholder="Найти товар" autocomplete="off">
                    <button class="header-search__submit" type="submit" title="Найти">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#search" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>

        <div class="header__logo" href="main.html" title="На главную">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#logo" />
            </svg>
        </div>

        <div class="header__links">
            <a class="header__link header__link--phone" href="tel:" title="Позвоните нам">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#phone" />
                </svg>
            </a>

            <a class="header__link header__link--user" href="personal.html" title="Личный кабинет">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#user" />
                </svg>
            </a>

            <a class="header__link" href="favorites.html" title="Избранное">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#favorite" />
                </svg>
            </a>

            <a class="header__link" href="cart.html" title="Корзина">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#cart" />
                </svg>
                <span class="cart-qnt">10</span>
            </a>
        </div>
    </div>
</header>