<div class="pagination">
    <div class="pager">
        <ul class="pager__list">
            <li class="pager__item">
                <span class="pager__link disabled">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chevron_left" />
                    </svg>
                </span>
            </li>
            <li class="pager__item">
                <span class="pager__link">1</span>
            </li>
            <li class="pager__item">
                <a class="pager__link" href="#">2</a>
            </li>
            <li class="pager__item">
                <a class="pager__link" href="#">3</a>
            </li>
            <li class="pager__item">
                <a class="pager__link" href="#">...</a>
            </li>
            <li class="pager__item">
                <a class="pager__link" href="#">10</a>
            </li>
            <li class="pager__item">
                <a class="pager__link" href="#" title="Следующая страница">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chevron_right" />
                    </svg>
                </a>
            </li>
        </ul>

        <button class="button pager__next" type="button">Показать еще</button>
    </div>
    <div class="pagination__nav">
        <a href="#">NEW COLLECTION</a>
        <a href="#">ACCESSORIES</a>
    </div>
</div>